__pycache__/

.idea/
.vscode/
weights
capture_pointcloud/
*.ply
*.npz
tmp/
*.png
*.svg
*.wav
*.pth
capture_pointcloud/front_data
secrets/
arm_target.txt
grasp_vis_data.pickle
grasp_vis_data.npz
gaze_utils/text_extraction.old.py